<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title class="Titre">Spice X History Date</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="changeOrder()">
				<ion-icon name="md-funnel"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-searchbar (ionInput)="getFilter($event)"></ion-searchbar>
	<ion-card *ngFor="let history of filter; let i = index">
		<ion-card-header class="createur_spice">
			<span>{{ history.title }}</span>
		</ion-card-header>
		<ion-card-content>
			<div>Date :
				<strong>{{ history.event_date_utc | date : 'dd/MM/yyyy' }}</strong>
			</div>
			<div>Details :
				<strong>{{ history.details }}</strong>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>