<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>List of capsules</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-searchbar (ionInput)="getFilter($event)"></ion-searchbar>
	<ion-card *ngFor="let capsule of filter; let i = index">
		<ion-card-header class="createur_spice">
			<span>{{ capsule.name }}</span>
		</ion-card-header>
		<ion-card-content>
			<div>Active :
				<ion-badge [color]="capsule.active ? 'secondary' : 'danger'">{{ capsule.active ? "Yes" : "No" }}</ion-badge>
			</div>
			<div>Crew capacity :
				<strong>{{ capsule.crew_capacity }}</strong>
			</div>
			<button ion-button block (click)="getCapsuleDetails(capsule)">More informations</button>
		</ion-card-content>
	</ion-card>
</ion-content>