<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<div *ngIf="launchpad">
			<ion-title class="Titre">{{ launchpad.location.name }}</ion-title>
		</div>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngIf="launchpad">
		<ion-card>
			<ion-card-header class="createur_spice">
				<span>{{ launchpad.location.name }}</span>
			</ion-card-header>
			<ion-card-content>
				<div>
					<img src="https://maps.googleapis.com/maps/api/staticmap?center={{ launchpad.location.latitude }},{{ launchpad.location.longitude }}
					&zoom=10&size=600x300&maptype=roadmap
					&markers=color:red|label:{{ launchpad.location.name }}|{{ launchpad.location.latitude }},{{ launchpad.location.longitude }}
					&key=AIzaSyDY38of8k_SpCN6ZPBFJ8xbDRWHXCnr6bs" alt="">
				</div>
				<div>Regions :
					<strong>{{ launchpad.location.region }}</strong>
				</div>
				<div>Active :
					<ion-badge [color]="launchpad.status ? 'secondary' : 'danger'">{{ launchpad.status ? "Yes" : "No" }}</ion-badge>
				</div>
				<div>Details :
					<strong>{{ launchpad.details }}</strong>
				</div>
				<div>Vehicles Launched :
					<ul>
						<li *ngFor="let vehicle of launchpad.vehicles_launched; let i = index">
							{{ vehicle }}
						</li>
					</ul>
				</div>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>