<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title class="Titre">Launchpad list</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-searchbar (ionInput)="getFilter($event)"></ion-searchbar>
	<ion-card *ngFor="let launchpad of filter; let i = index">
		<ion-card-header class="createur_spice">
			<span>{{ launchpad.location.name }}</span>
		</ion-card-header>
		<ion-card-content>
			<div>Active :
				<ion-badge [color]="launchpad.status ? 'secondary' : 'danger'">{{ launchpad.status ? "Yes" : "No" }}</ion-badge>
			</div>
			<div>Details :
				<strong>{{ launchpad.details != null ? launchpad.details : "No Details" }}</strong>
			</div>
			<button ion-button block (click)="getLaunchpadDetails(launchpad)">More informations</button>
		</ion-card-content>
	</ion-card>
</ion-content>